@import "tailwindcss";

@theme {
    --font-1:"Smooch Sans", "sans-serif"
}

@theme {
    --font-2:"Inter", "sans-serif"
}

@theme {
    --font-3:"Playfair Display", "serif"
}

@theme {
    --animate-fade-y-1: fade-in-y-1 1s ease-in-out;
    --animate-fade-y-2: fade-in-y-2 1.5s ease-in-out;
    --animate-fade-y-3: fade-in-y-1 0.3s ease-out;
    --animate-fade-y-3: fade-in-y-2 0.8s ease-out;
    @keyframes fade-in-y-1{
        from {
            opacity: 0;
            transform: translateY(-30px);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    @keyframes fade-in-y-2 {
        from {
            opacity: 0;
            transform: translateY(250px);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

@utility stagger-delay {
    animation-delay: var(--delay);
}

/* @utility pre-animate {
    opacity:0;
    transform: translateY(-30px);
} */

